mixin select()
    .select
        select#slct(name='slct')
            option Choose game
            option(value='APB: Reloaded (EU/NA)') APB: Reloaded (EU/NA)
            option(value='Aion(Free)') Aion (Free)
            option(value='Aion(RU)') Aion (RU)
            option(value='Aion Online (EU/NA)') Aion Online (EU/NA)
            option(value='Albion Online (EU/NA)') Albion Online (EU/NA)