body {
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    height: 100%;
    @include respond-from(to-sm) {
        font-size: $font-size-xs;
    }

    font-size: $font-size;
}

//MAIN WRAPPERS
.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}